/* Ref:  http://www.w3schools.com/css/css_syntax.asp */
	body, html {
height: 100%
width: 100%

	}
body { /* General style rules for the body section */
	text-align: center;
}

body {
	background-image: url("/images/hallway-with-red-doors.png");
	background-repeat: no-repeat;
	background-size: cover;
}
